:root {
  --dark: #23252c;
  --darker: #1a1b21;
  --darkest: #161619;
  --blue: #5093e2;
  --blue-light: #48aae6;
  --blue-lighter: #9ccae5;
  --dark-blue: #353c55;
  --yellow: #f3bf99;
  --white: #ffffff;
  --pink: #9f3855;
  --light: ##f5f5f5;
  --black: #1a1b21;
  --grey: #d1d5db;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;900&display=swap");

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
  background: linear-gradient(var(--dark), var(--darker));
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: --var(light);
  margin-bottom: 5px;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--white);
}

h3 {
  font-size: 20px;
}

p {
  margin-bottom: 25px;
  font-weight: 400;
}

.business-card {
  background: var(--darker);
  max-width: 317px;
  margin: 4em auto;
  color: var(--white);
  position: relative;
  box-shadow: 11px 10px 1px var(--blue), 0px 11px 21px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--blue-lighter);
  position: relative;

  .btn {
    padding: 9px 18px;
    background: var(--white);
    border: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.5s;

    > svg {
      margin-right: 10px;
      display: inline-block;
    }

    &-white {
      background-color: var(--white);
      color: var(--black);

      &:hover {
        background-color: var(--grey);
      }
    }

    &-blue {
      background-color: var(--blue);
      color: var(--white);

      &:hover {
        background: linear-gradient(var(--blue), var(--blue-light));
      }
    }
  }

  &--about,
  &--meta {
    padding: 0 35px;
  }

  &--avatar {
    width: 100%;
    margin-bottom: 21px;
  }

  &--meta {
    text-align: center;

    &_title {
      font-size: 18px;
      color: var(--yellow);
      font-weight: 600;
      margin-top: 10px;

      // Gradient text
      background-image: linear-gradient(5deg, var(--yellow), var(--pink));
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }

    &_website {
      font-weight: 400;
      margin-top: 10px;
    }

    &_buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
    }
  }

  &--about {
    margin: 33px 0;
  }

  &--socials {
    background-color: var(--darkest);
    list-style-type: none;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    gap: 24px;

    img {
      width: 30px;
      transition: all 1s;

      &:hover {
        filter: brightness(100);
      }
    }
  }
}
